* {
  font-family: helvetica, sans-serif;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

ul > li {
  padding: 2em;
  margin-top: 3em;
  color: white;
}

li > a {
  padding: 2em;
  margin-top: 3em;
  color: white;
  transition: all .2s ease-in;
}

li > a:focus, li > a:hover {
  background-color: black;
  color: white;
  margin-left: 1em;
}
